/* navbar   */
* {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .main-nav {
    background-color: rgb(55, 55, 55);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 70px;
  }
  
  .pan-logo {
    font-size: 45px;
    font-weight: bold;
    padding-left: 20px;
    color: #ffffff;
  }
  
  .nav-conteiner {
    display: flex;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
  
  }
  
  nav i {
    font-size: 35px;
    color: #ffffff;
  }
  
  .nav-conteiner h3 {
    margin: 0;
    margin-left: 15px;
    margin-top: 4px;
    color: #ffffff;
  }
  
  .nav-conteiner p {
    margin: 0;
    margin-top: 4px;
    margin-left: 15px;
    color: #ffffff;
  }
  
  .fa-solid {
    padding-left: 170px;
    margin-top: 10px;
  }
  
  /* 2 navbar*/
  .nav2-conteiner {
    display: flex;
    background-color: rgb(27, 27, 27);
    font-size: 17px;
    justify-content: space-between;
    padding: 15px 10px;
  }
  
  .nav2-conteiner ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .nav2-conteiner a {
    text-decoration: none;
    color: white;
  }
  
  .nav2-conteiner button {
    color: black;
    border-color: white;
    border-radius: 3px;
    background-color: orange;
    font-size: 16px;
    height: 100%;
    padding: 10px 25px;
    margin-right: 20px;
    margin-left: 800px;
  }
  
  /* 2 navbar animation */
  .nav2-conteiner ul li {
    padding: 10px 20px;
    transition: 300ms;
  }
  
  .nav2-conteiner ul li:hover {
    background-color: orange;
    transform: scale(1.0);
  }
  
  
  /* ниж блоки */
  
  main {
    display: flex;
    padding: 0 70px;
  }
  
  .card {
    width: 190px;
    background: rgb(245, 245, 245);
    padding: .4em;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 65px;
  }
  
  .card-image {
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(8 51 68);
    padding: 10px 7px 0;
  
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(8 51 68);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
    color: rgb(2, 2, 161);
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  
  /* Mac AirPods */
  .product_menu ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    width: 300px;
    background-color: rgb(55, 55, 55);
    position: sticky;
    top: 0px;
    height: 700px;
    padding-top: 20px;
  }
  
  .product_menu ul li {
    padding: 10px;
    font-size: 20px;
  }
  
  .product_menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .product_list {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .products_grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .products_grid_macbook {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .product_inner_text {
    padding: 20px 0;
    padding-left: 80px;
    color: rgb(55, 55, 55);
    background-color: orange;
    font-size: 24px;
  }
  
  
  .product_menu ul li {
    transition: 300ms;
    margin-right: 150px;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  .product_menu ul li:hover {
    background-color: orange;
    transform: scale(1.0);
  }