/* navbar   */
* {
  margin: 0;
  padding: 0;
}


.main-nav {
  background-color: rgb(55, 55, 55);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 70px;
  position: fixed;
}

.pan-logo a {
  font-size: 45px;
  font-weight: bold;
  padding-left: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav-conteiner {
  display: flex;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;

}

nav i {
  font-size: 35px;
  color: #ffffff;
}

.nav-conteiner h3 {
  margin: 0;
  margin-left: 15px;
  margin-top: 4px;
  color: #ffffff;
}

.nav-conteiner p {
  margin: 0;
  margin-top: 4px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-solid {
  padding-left: 170px;
  margin-top: 10px;
}

/* 2 navbar*/
.nav2-conteiner {
  display: flex;
  background-color: rgb(27, 27, 27);
  font-size: 17px;
  justify-content: space-between;
  padding: 15px 10px;
}

.nav2-conteiner ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav2-conteiner a {
  text-decoration: none;
  color: white;
}

.nav2-conteiner button {
  color: black;
  border-color: white;
  border-radius: 3px;
  background-color: orange;
  font-size: 16px;
  height: 100%;
  padding: 10px 25px;
  margin-right: 20px;
  margin-left: 750px;
}

/* 2 navbar animation */
.nav2-conteiner ul li {
  padding: 10px 20px;
  transition: 300ms;
}

.nav2-conteiner ul li:hover {
  background-color: orange;
  transform: scale(1.0);
}


/* product */

main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-top: 35px; */

}

.main_2 {
  position: relative;
  z-index: 20;
  background-color: white;
}

.conteiner-img-p {
  position: fixed;
  margin-left: 160px;
  padding-right: 30px;
  margin-top: 160px;
}

.mini-img-p img {
  border-radius: 10px;
  width: 75px;
  /* margin-top: 15px; */
}

.conteiner-big-img {
  margin-left: 250px;
  margin-top: 160px;
}

.big-img-p img {
  border-radius: 10px;
  width: 580px;
  /* height: 700px; */
}

.conteiner-word-p {
  margin-left: 850px;
  position: fixed;
  margin-top: 160px;
}

.word-product h1 {
  font-size: 30px;
  /* margin-top: 30px; */
  margin-right: 200px;
}

.word-product p {
  font-size: 10px;
  color: grey;
  margin-top: 15px;
}

.word-product h4 {
  font-size: 13px;
  background-color: rgb(247, 246, 246);
  color: red;
  padding: 5px 10px;
  margin-right: 550px;
  margin-top: 20px;
}

.size-product {
  display: flex;
}

.size-product p {
  font-size: 15px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 8px;
  padding: 10px 28px;
  margin-left: 7px;
  margin-top: 30px;
}

.size-product p:hover {
  border: 1px solid rgb(170, 170, 170);
}

.button-product button {
  padding: 15px 65px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border-color: red;
  background-color: red;
  color: white;
  margin-top: 30px;
  margin-left: 10px;
}

.button-product p {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 8px;
  font-size: 15px;
  color: gray;
  padding: 20px 30px;
  margin-right: 250px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: rgb(248, 248, 248);
}

.line {
  border-bottom: 1px solid rgb(181, 181, 181);
  /* Параметры линии */
  margin-right: 200px;
  margin-top: 20px;
}

.discribe-product h2 {
  margin-top: 20px;
}

.discribe-product p {
  padding-top: 20px;
}


/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
  position: relative;
  z-index: 20;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


/* card-block */

.container-block {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

.product-block {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;

}

.card-block {
  padding: 10px 5px 60px 5px;
}


.block-word h1 {
  font-size: 25px;
  color: #8b8b8b;
}

.block-word span {
  color: #24262b;
}

.block-word span:hover {
  color: orange;
}

.main-h1 {
  margin-left: 63px;
  margin-top: 100px;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;

}

.block-img img {
  margin-bottom: 15px;
}

html{
  scroll-behavior: smooth;
}