/* navbar   */
body {
    margin: 0;
  }
  

  .main-nav {
    background-color: rgb(236 254 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 70px;
  }
  s
  .pan-logo {
    font-size: 45px;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(22 78 99);
  }
  .nav-conteiner {
    display: flex;
    padding-left: 100px;
    
  } 
  
  nav i {
    font-size: 35px;
    color: rgb(22 78 99);
  }
  .nav-conteiner h3 {
    margin: 0;
    margin-left: 15px;
    margin-top: 4px;
    color: rgb(22 78 99);
  }
  
  .nav-conteiner p {
    margin: 0;
    margin-top: 4px;
    margin-left: 15px;
    color: rgb(22 78 99);
  }
  
  .fa-solid {
    padding-left: 170px;
    margin-top: 10px;
  }
  
  /* 2 navbar*/
  .nav2-conteiner {
    background-color: rgb(22 78 99);
    font-size: 17px;
  }
  
  .nav2-conteiner ul {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
  }
  
  a{
    text-decoration: none;
    color: rgb(236 254 255);
    padding-left: 50px;
  }
  .nav2-conteiner button{
    color: rgb(236 254 255);
    border-color: rgb(236 254 255);
    border-radius: 3px;
    margin-left: 600px;
    margin-bottom: 12px;
    background-color: rgb(22 78 99);
    
    
    font-size: 15px;
    padding: 5px 20px;
  }
  
  
  /* поиск */
  
  
  
  