/* navbar   */
* {
  margin: 0;
  padding: 0;
}

.main-nav {
  background-color: rgb(55, 55, 55);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 70px;
}

.pan-logo a {
  font-size: 45px;
  font-weight: bold;
  padding-left: 20px;
  color: #ffffff;
  text-decoration: none;
}

.nav-conteiner {
  display: flex;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;

}

nav i {
  font-size: 35px;
  color: #ffffff;
}

.nav-conteiner h3 {
  margin: 0;
  margin-left: 15px;
  margin-top: 4px;
  color: #ffffff;
}

.nav-conteiner p {
  margin: 0;
  margin-top: 4px;
  margin-left: 15px;
  color: #ffffff;
}

.fa-solid {
  padding-left: 170px;
  margin-top: 10px;
}

/* 2 navbar*/
.nav2-conteiner {
  display: flex;
  background-color: rgb(27, 27, 27);
  font-size: 17px;
  justify-content: space-between;
  padding: 15px 10px;
}

.nav2-conteiner ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav2-conteiner a {
  text-decoration: none;
  color: white;
}

.nav2-conteiner button {
  color: black;
  border-color: white;
  border-radius: 3px;
  background-color: orange;
  font-size: 16px;
  height: 100%;
  padding: 10px 25px;
  margin-right: 20px;
  margin-left: 700px;
}

/* 2 navbar animation */
.nav2-conteiner ul li {
  padding: 10px 20px;
  transition: 300ms;
}

.nav2-conteiner ul li:hover {
  background-color: orange;
  transform: scale(1.0);
}


/* ниж блоки */

main {
  display: flex;
}

.card {
  width: 190px;
  background: rgb(245, 245, 245);
  padding: .4em;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 65px;
}

.card-image {
  background-color: white;
  width: 100%;
  height: 190px;
  border-radius: 6px 6px 0 0;
}

.card-image :hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: orange;
  padding: 10px 7px 5px;

}

.category:hover {
  cursor: pointer;
}

.heading a {
  /* font-weight: 600; */
  color: black;
  padding: 7px;
  text-decoration: none;
}

.heading a:hover {
  cursor: pointer;
  color: rgb(2, 2, 161);
}

.author {
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 7px;
  padding-bottom: 10px;
}


.author:hover {
  cursor: pointer;
}

/* Mac AirPods */

.product_menu {
  margin-left: 70px;
}

.product_menu ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  width: 300px;
  background-color: rgb(55, 55, 55);
  position: sticky;
  top: 0px;
  height: 700px;
  padding-top: 20px;
}

.product_menu ul li {
  padding: 10px;
  font-size: 20px;
}

.product_menu ul li a {
  color: white;
  text-decoration: none;
}

.product_list {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.products_grid {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.products_grid_macbook {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product_inner_text {
  padding: 20px 0;
  padding-left: 80px;
  color: rgb(55, 55, 55);
  background-color: orange;
  font-size: 24px;
}


.product_menu ul li {
  transition: 300ms;
  margin-right: 150px;
  margin-left: 30px;
  margin-top: 10px;
}

.product_menu ul li:hover {
  background-color: orange;
  transform: scale(1.0);
}

/* Mac AirPods */
.card-44-image {
  background-color: white;
  width: 100%;
  height: 350px;
  border-radius: 6px 6px 0 0;

}

.card-44 {
  width: 400px;
  background: rgb(245, 245, 245);
  padding: .4em;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 65px;
}

.card-44-image:hover {
  transform: scale(0.98);
}

.macair-512 {
  padding-left: 20px;
}



.but-22 {
  display: grid;
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


/* card-block */

.container-block {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

.product-block {
  border: 1px solid rgb(154, 153, 153);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;

}

.card-block {
  padding: 10px 5px 60px 5px;
}


.block-word h1 {
  font-size: 25px;
  color: #8b8b8b;
}

.block-word span {
  color: #24262b;
}

.block-word span:hover {
  color: orange;
}

.main-h1 {
  margin-left: 63px;
  margin-top: 100px;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;

}

.block-img img {
  margin-bottom: 15px;
}
