body {
    margin: 0;
    background-image: url('https://rtlimages.apple.com/cmc/dieter/store/16_9/R085.png?resize=2880:1612&output-format=jpg&output-quality=85&interpolation=progressive-bicubic');
    width: 100%;
}

.backround {
    display: flex;
}

.lower-input input {
    padding-right: 118px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid rgb(6 182 212);
    border-radius: 4px;
}
.backround span {
    color: rgb(6 182 212);
} 

.backround a {
    color: rgb(6 182 212);
}

.main-input {
    margin-left: 100px;
}
.par-sign {
    margin-left: 400px;
}

.main-div {
    margin: 150px 350px;
    width: 48%;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    background-color: aliceblue;
}

.link-a {
    color: rgb(6 182 212);
    margin-left: 100px;
}

.main-input button {
    padding: 10px 120px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid  rgb(103 232 249);
    background-color: rgb(103 232 249);
    margin-top: 20px;
}

.lower-input {
    font-size: 16px;
}

.lower-input p {
    margin-bottom: 0px;
    margin-bottom: 8px ;

}
.input-pass {
    margin-bottom: 5px;
}